@*@model IEnumerable<BudgetMaster.Models.ViewModels.AllBudgetsViewModel>*@ 

@model BudgetMaster.Models.Budget

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">BudgetMaster</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Budgeted Income</th>
                    </tr>

                    @foreach (var item in Model.ActualExpenses)
                    {
                    <tr>
                        <th>@item.Amount</th>
                        <th>@item.Amount</th>
                    </tr>
                    }



                </thead>
                <tbody>
                    <tr>
                        <td>Some Income</td>
                        <td>$1000.00</td>
                    </tr>
                    <tr>
                        <td>More Income</td>
                        <td>$1200.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            Actual Income
        </div>
    </div>
    <div class="row">
        <div class="col">
            Budgeted Expense
        </div>
        <div class="col">
            Actual Expense
        </div>
    </div>
</div>
<div>
    @foreach(var item in Model.ActualExpenses)
    {
        <p>@item.Amount</p>
    }
</div>