@*@model IEnumerable<BudgetMaster.Models.ViewModels.AllBudgetsViewModel>*@ 

@model BudgetMaster.Models.Budget

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">BudgetMaster</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Budgeted Income</th>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.ActualExpenses)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ActualExpenseId)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpenseCategoriesList[0].Label)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpenseCategoryId)</td>
                        <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                    </tr>
                }
                </tbody>



                <tbody>
                    <tr>
                        <td>Some Income</td>
                        <td>$1000.00</td>
                    </tr>
                    <tr>
                        <td>More Income</td>
                        <td>$1200.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            Actual Income
        </div>
    </div>
    <div class="row">
        <div class="col">
            Budgeted Expense
        </div>
        <div class="col">
            Actual Expense
        </div>
    </div>
</div>