@model IEnumerable<BudgetMaster.Models.Budget>

@{
    ViewData["Title"] = "Index";
}

<h1>Budgets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Month / Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedMonth) / @Html.DisplayFor(modelItem => item.CreatedYear)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BudgetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BudgetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
