@model IEnumerable<BudgetMaster.Models.Budget>
@*@model IEnumerable<BudgetMaster.Models.ViewModels.AllBudgetsViewModel>*@


@{
    ViewData["Title"] = "Index";
}
<div class="text-left">
    <img src="images/BMlogoSM.png" />
</div>
<h4>Budgets</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Month / Year
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedMonth) / @Html.DisplayFor(modelItem => item.CreatedYear)
                </td>
                <td>

                    @*@Html.DisplayFor(modelItem => item.ProjectedExpenses.Sum(x => x.Amount));*@
                    @*@String.Format("0:c", item.ProjectedExpenses.Sum(x => x.Amount))*@
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BudgetId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BudgetId">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
